body{
    color: gray;
}
:root {
    /* Definindo a paleta de cores */
    --cor-primaria: #7e22cf; /* roxo */
    --cor-secundaria: #000000; /* preto */
    --cor-terciaria: #ffffff; /* branco */
}

span{
    color: var(--cor-primaria);
}

#logo{
    width: 200px;
}

.vertical-divider {
    border-right: 1px solid var(--cor-primaria); /* Estilo da linha vertical */
}
#coluna_esquerda{
    position: sticky;
        top: 0;
    height: 100vh;
    overflow-y: auto;
}
/*formulario*/
#formContainer {
    width: 90%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para os rótulos e inputs */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"]{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group {
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    flex: 1;
    width: calc(50% - 10px); /* 50% do espaço disponível menos a margem entre os inputs */
    margin-right: 10px; /* Espaço entre os inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão "Continuar" */
#continuarBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo para o botão ao passar o mouse */
#continuarBtn:hover {
    background-color: #0056b3;
}
.opcao-btn:hover{
    color: white;
}
/*end*/
#principal{
    margin-top: 100px;
}

#form-label{
    font-size: 35px;
    color: gray;
}
#user-input{
    border-radius: 50px;
    border-color: var(--cor-primaria);
    box-shadow: 1px 1px 2px var(--cor-primaria);
    border-width: 1px;
    width: 100%;
    margin: 5px;
    padding: 12px;
}
#continuar{
    border-radius: 25px;
    padding: 5px 5px;
    width: 30%;
    border: none;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    float: right;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px gray;
}
#continuar:hover{
    background-color: green;
}

#mcq-label{
    font-size: 35px;
}

/* Estilos para os botões de opção */
.opcao-btn {
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Alterar o tamanho dos botões de opção */
.opcao-btn:hover {
    background-color: var(--cor-primaria);
    border-color: #aaa;
}
.opcao-btn{
    box-shadow: 2px 2px 1px gray;
}

/* Estilos para os ícones */
.icon {
    font-size: 24px; /* Alterar o tamanho do ícone */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

/* Alterar a cor dos ícones */


/* Estilo para o botão selecionado */
.opcao-btn-selecionado {
    background-color: #d0d0d0;
    border-color: #888;
}


/*Página de Resultados*/
.progress-bar {
    transition: width 2.5s ease; /* Transição suave da largura da barra de progresso em 1 segundo */
  }


.img-tema {
    width: 80%; /* Defina o tamanho desejado para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.product{
    text-align: center;
}

.tema {
    font-size: 25px; /* Defina o tamanho desejado para a fonte */
}
#skills-section a{
   text-decoration: none;
   color: white;
}
#skills-section button{
    background-color: var(--cor-primaria);
}
#skills-section button:hover{
    transform: scale(1.1); /* Ajuste o valor conforme necessário para o nível de zoom desejado */
    transition: transform 0.3s ease; /* Define a transição suave com duração de 0.3 segundos e uma curva de aceleração suave */
    background: green;
}
.product:hover {
    transform: scale(1.1); /* Ajuste o valor conforme necessário para o nível de zoom desejado */
    transition: transform 0.3s ease; /* Define a transição suave com duração de 0.3 segundos e uma curva de aceleração suave */
}

/*Responsivo Mobile*/
@media only screen and (max-width: 500px) {
    body{
        padding: 5px 5px;
    }
   #roleta{
    width: 300px;
   }
   #caixa_roleta{
   text-align: center;
   }
   #linha_1,#linha_2,#linha_3,#linha4{
    width: 90%;
    margin: auto;
   }

   #coluna_esquerda{
    position: static;
    height: 20vh;
    margin: auto;
   }
   #principal{
    text-align: center;
    margin-top: 5px;
   }
   #formContainer{
    margin: auto;
   }
   .form-group {
    display: block;
}

   input[type="number"] {
    width: calc(95% ); /* 50% do espaço disponível menos a margem entre os inputs */
    margin-right: 10px; /* Espaço entre os inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    float: left;
    margin-bottom: 20px;
}
input[type="text"],
input[type="email"]{
   float: left;
}
}


/*Responsivo tablet*/
